<section *ngIf="modalStatus" class="container {{ hideScroll() }}">
  <div class="card">
    <img class="imagem" src="{{ book != undefined ? book
      : 'assets/images/capa-indisponivel.png'
    }}" alt="Capa do livro">
    <div class="card-info">
      <p class="title">{{ book }}</p>
      <p class="info">Autoria:</p>
      <p class="result">{{ book }}</p>
      <p class="info">Data de publicação:</p>
      <p class="result">{{ book }}</p>
      <p class="info">Editora:</p>
      <p class="result">{{ book }}</p>
      <button (click)="readPreview()" class="details">Ler prévia</button>
    </div>
      <button (click)="closeModal()" class="close-button" >
        <span class="material-symbols-outlined">close</span>
      </button>
    <div class="sinopse">
      <h4 class="info">Sinopse</h4>
      <p class="result">{{ book }}</p>
    </div>
  </div>
  <div class="overlay"></div>
</section>
