<section class="container">
  <header>Que livro você procura?</header>
  <div class="search">
    <input
      type="search"
    >
    <button>
      <img src="assets/images/icone-busca.png" alt="Lupa de cor roxa">
    </button>
  </div>
  <p>Busque por assunto, autoria, nome...</p>
<div class="container-card" *ngIf="bookList?.length > 0, else initialScreen">
  <div *ngFor="let book of bookList">
    <app-book [book]="book"></app-book>
  </div>
</div>
<ng-template #initialScreen>
  <div class="images">
    <h1 class="title">Busque o livro <br> que quiser na <br> nossa estante!</h1>
    <img
      class="ilustration"
      src="../../assets/images/ilustracao-estante.png"
      alt="Ilustração de uma pessoa em pé ao lado de uma estante com livros e plantas">
  </div>
</ng-template>
